body {
    background-color: var(--bblue);
}

.container{
    margin-top:10rem;
    height:min-content;
}

.slider {
    /* width: 1300px; */
    width: 100vw;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.banner {
    /* width: 1300px; */
    width: 100vw;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* .banner .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
} */

.slider .list img {
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider .buttons {
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 2%;
    width: 96%;
    display: flex;
    justify-content: space-between;
    z-index:1;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}

.banner-info{
    position:relative;
    bottom:0;
    width:50vw;
    font-size:1.5rem;
    align-items: start;
    z-index:1;
    justify-content: end;
    margin-bottom:5rem;
    /* line-break:10rem; */
    /* line-height: 3rem; */
    /* display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    width:40vw; */
}

.banner-info h2{
    font-size:3.5rem;
}

.banner-rating{
    color:var(--lblue);
    padding:1rem;
}

.banner-title{
    margin:1vw;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(16, 19, 34, 1) 0%, rgba(16, 19, 34, 0) 100%);
    ;
}

.banner-info {
    top: 0;
    left: 0;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem 0 10rem;
}

.animes {
    position: relative;
    display: flex;
    flex-direction: row;
}

.section {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    margin: 1rem auto 5rem auto;
    height: fit-content;
    /* position:relative; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
}

.sectionSearch {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem auto 5rem auto;
    height: fit-content;
    /* position:relative; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
}

.section-title {
    color: white;
    position: relative;
    height:fit-content;
    padding: 1rem 10rem 0 0;
    margin-left:5rem;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow:   2px 2px 2px var(--lblue);
}

.section::-webkit-scrollbar {
    display: none;
}

.wrapper{
    /* word-wrap: break-word;
    word-break:break-all;
    white-space: nowrap; */
    /* display: flex;
    flex-direction: column;
    flex-wrap:wrap; */
    /* width:13vw;
    height:18vw; */
    position:relative;
    font-size:1.3rem;
    font-weight: 500;
    margin:3rem;
    margin-right:1rem;
    text-align: center;
    color:white;
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

/* .wrapper h2{
    word-wrap: break-word;
    word-break:break-word;
    white-space: nowrap;
    text-align: center;
} */

.status{
    margin-top: 5rem;
    font-size:0;
    position: relative;
    line-height: 3rem; 
    /* right: 0;  */
}

.wrapper:hover + div{
    font-size:1.5rem;
    color:white;
    /* align-items: center; */
    /* background-color: antiquewhite; */
    /* bottom: -10;  */
 }

.poster{
    object-fit: cover;
    border-radius: 25px;
    /* padding: 1rem; */
    width:13vw;
    height:18vw;
    overflow: hidden;
}

.poster:hover{
    /* opacity:0; */
    width:14vw;
    height:19vw;
    opacity:0.5;
}

@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .slider {
        height: 200px;
    }
    .poster{
        border-radius: 10px;
    }   
}