.credBG {
    /* position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; */
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.content-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
}

form * {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form {
    background-color: rgba(255, 255, 255, 0.3);
    /* max-height: 500px; */
    max-width: 400px;
    width: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 50px rgba(0, 183, 255, 0.4);
    padding: 3% 3%;
    /* overflow-y: scroll; */
}

form img {
    position: relative;
    width: 30vw;
    margin-bottom: 5%;
}

form::-webkit-scrollbar {
    display: none;
}

form h2 {
    margin-top: 0%;
    margin-bottom: 0;
    font-size: 3vw;
    font-weight: 500;
    line-height: 4vw;
    text-align: center;
}

form p {
    margin-top: 2%;
    font-size: 1.2vw;
    text-align: center;
}

.input-wrapper {
    --padding: 16px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.placeholder {
    position: absolute;
    color: rgba(0, 0, 0, 0.75);
    left: var(--padding);
    padding: 0 4px;
    transition: all 0.2s ease-in;
    cursor: text;
}

input:is(:focus, :valid)+.placeholder {
    background-color: rgba(255, 255, 255, 0.65);
    border: 2px solid rgba(0, 179, 255, 0.3);
    border-radius: 25px;
    transform: translatey(calc(-1 * var(--padding) - 12px));
    font-size: 14px;
    color: rgb(0, 179, 255);
}

input {
    padding: 0 5%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    font-size: 1vw;
    font-weight: 300;
    color: black;
}

input:is(:focus, :valid) {
    border: 2px solid rgba(0, 179, 255, 0.3);
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    width: 40%;
    background-color: rgba(0, 213, 220, 0.5);
    color: rgba(255, 255, 255, 0.8);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

button:is(:hover, :active) {
    transition: all 0.3s ease-in;
    background-color: rgb(1, 200, 200);
    color: rgb(255, 255, 255);
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper {
    color: black;
    margin-bottom: 3vh;
}

.checkbox-wrapper .check {
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .check svg {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}

.checkbox-wrapper .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.checkbox-wrapper .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.checkbox-wrapper .check:hover:before {
    opacity: 1;
}

.checkbox-wrapper .check:hover svg {
    stroke: rgba(0, 213, 220, 1);
}

.checkbox-wrapper input[type="checkbox"]:checked+.check svg {
    stroke: rgba(0, 213, 220, 1);
    background-color: rgb(0, 114, 8);
}

.checkbox-wrapper input[type="checkbox"]:checked+.check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

.checkbox-wrapper input[type="checkbox"]:checked+.check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.fa {
    color: rgb(0, 183, 255);
    top: 2vw;
    left: 2vw;
    position: absolute;
}

.login {
    text-decoration: none;
    color: black;
}

.login a {
    color: rgb(0, 128, 255);
}

.login a:hover {
    transition: all ease-in 3s;
    color: rgb(0, 73, 147);
}

.login-altr-btn {
    width: fit-content;
    height: fit-content;
    padding: 0.6vw;
    transition: all 0.3 ease-in-out;
    border: none;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: 500;
    background-color: white;
    color: black;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    position: relative;
    text-align: left;
}

.login-altr-btn i {
    vertical-align: middle;
    justify-content: center;
    top: 0;
    left: 0;
    margin-right: 1vw;
    position: relative;
    color: black;
}

.login-altr-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.login-altr-btn:active {
    background-color: #eeeeee;
}

.login-altr-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25), 0 0 0 3px #c8dafc;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.fa-facebook {
    background: blue;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.altr-title {
    margin:1vw;
    color:black;
    display: flex;
    align-items: center;
    text-align: center;
}

.altr-title::before,
.altr-title::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.altr-title:not(:empty)::before {
    margin-right: 0.25em;
}

.altr-title:not(:empty)::after {
    margin-left: 0.25em;
}

/* Tablet */
@media screen and (max-width: 820px) {
    form {
        padding: 3% 5%;
    }

    form h2 {
        margin-top: 5%;
        font-size: 5vw;
        line-height: 7vw;
    }

    #inputN {
        font-size: 1.8vw;
    }

    p {
        font-size: 1.8vw !important;
    }
}

@media screen and (max-width: 500px) {
    form {
        padding: 3% 10%;
    }

    form h2 {
        margin-top: 5%;
        font-size: 3.5vw;
        line-height: 7vw;
    }

    p {
        font-size: 4vw !important;
    }

    input {
        font-size: 1px !important;
    }
}