h1{
    color:var(--lblue);
    text-align:center;
    font-weight: 500;
    font-size:6rem;
    padding:1rem;
    text-shadow: var(--lblue) 0 0 10px;
}

#date:hover{
    color:white;    
}

input[type="date"]{
    font-size:1.3rem;
    background-color: inherit;
    padding: 0.3rem;
    color: white;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
}

.btn-wrapper{
    justify-content: center;
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.btn:nth-child(1),.btn:nth-child(4),.btn:nth-child(7){
    --clr:var(--lblue);
}
.btn:nth-child(2),.btn:nth-child(5),.btn:nth-child(8){
    --clr:var(--dblue);
}
.btn:nth-child(3),.btn:nth-child(6),.btn:nth-child(9){
    --clr:white;
}


.btn {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    margin:1rem;
    transition: 0.2s;
  }
  
  .btn:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  .btn span {
    position: relative;
    z-index: 1;
  }
  .btn i {
    opacity: 1;
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .btn i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  .btn:hover i::before {
    opacity: 0.3;
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  .btn i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  .btn:hover i::after {
    opacity: 0.3;
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }

  .btn input{
    z-index: 100;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }  

@keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5rem; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  .firework,
  .firework::before,
  .firework::after
  {
    --initialSize: 0.5rem;
    --finalSize: 100rem;
    --particleSize: 0.2rem;
    --hotpink: #EE74A2;
    --rosepink: #DF3E6E;
    --y: -30rem;
    --x: -50%;
    --initialY: 60rem;
    content: "";
    animation: firework 3s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    z-index:1;
    background: 

      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 50% 0%,
      radial-gradient(circle, var(--bblue) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, white var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--dblue) var(--particleSize), #0000 0) 0% 50%,
      
      /* bottom right */
      radial-gradient(circle, var(--hotpink) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--rosepink) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--bblue) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, white var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--dblue) var(--particleSize), #0000 0) 70% 77%,
      
      /* bottom left */
      radial-gradient(circle, var(--hotpink) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--rosepink) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--bblue) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, white var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--dblue) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--hotpink) var(--particleSize), #0000 0) 13% 72%,
      
      /* top left */
      radial-gradient(circle, var(--rosepink) var(--particleSize), #0000 0) 80% 10%,
      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--bblue) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, white var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--dblue) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--hotpink) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--rosepink) var(--particleSize), #0000 0) 60% 7%,
      
      /* top right */
      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 22% 14%,
      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--lblue) var(--particleSize), #0000 0) 13% 42%
      ;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }
  
  .firework::before {
    --x: -50%;
    --y: -50vh;
    --initialY: -50%;
  /*   transform: translate(-20rem, -2rem) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(44rem, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework:nth-child(2) {
    --x: 30rem;
  }
  
  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    --lblue: pink;
    --bblue: violet;
    --white: fuchsia;
    --dblue: orchid;
    --hotpink: plum;
    --rosepink: lavender;  
    --finalSize: 40rem;
    left: 30%;
    top: 50vh;
    animation-delay: -5s;
  }
  
  .firework:nth-child(3) {
    --x: -30rem;
    --y: -50rem;
  }
  
  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    --lblue: cyan;
    --bblue: lightcyan;
    --white: lightblue;
    --dblue: PaleTurquoise;
    --hotpink: SkyBlue;
    --rosepink: lavender;
    --finalSize: 35rem;
    left: 70%;
    top: 40vh;
    animation-delay: -0.4s;
  }